# Node modules
node_modules/

# Output directories
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Environment files
# .env
# .env.*

# OS junk
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Webpack output (optional)
webpack-stats.json

# Nodemon
nodemon-debug.log
